// app global css in SCSS form

:root {
  --q-dark: #424242;
  --second-color: #ffff8c;
}



body.body--dark {
  background: rgba(77, 77, 77, .08);
}

// body.q--dark {
//   background: rgba(77, 77, 77, .08);
// }
